In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/stud.csv')

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
print(df['gender'].unique())
print(df['race_ethnicity'].unique())
print(df['parental_level_of_education'].unique())
print(df['lunch'].unique())
print(df['test_preparation_course'].unique())

['female' 'male']
['group B' 'group C' 'group A' 'group D' 'group E']
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
['standard' 'free/reduced']
['none' 'completed']

In [ ]:
df['total_score'] = df['math_score']+df['reading_score']+df['writing_score']

In [13]:
gender_mean_score = df.groupby('gender')['total_score'].describe()
ethnicity_mean_score = df.groupby('race_ethnicity')['total_score'].describe()
parent_mean_score = df.groupby('parental_level_of_education')['total_score'].describe()
lunch_mean_score = df.groupby('lunch')['total_score'].describe()
test_mean_score = df.groupby('test_preparation_course')['total_score'].describe()
print(gender_mean_score)
print(ethnicity_mean_score)
print(parent_mean_score)
print(lunch_mean_score)
print(test_mean_score)

        count        mean        std   min    25%    50%     75%    max
gender
female  518.0  208.708494  43.625427  27.0  182.0  211.0  236.00  300.0
male    482.0  197.512448  41.096520  69.0  168.0  199.0  228.75  300.0
                count        mean        std   min    25%    50%     75%  \
race_ethnicity
group A          89.0  188.977528  43.333794  70.0  156.0  184.0  219.00
group B         190.0  196.405263  44.196399  55.0  170.0  195.0  230.50
group C         319.0  201.394984  41.616633  27.0  173.0  205.0  231.00
group D         262.0  207.538168  39.758327  93.0  181.0  210.0  235.75
group E         140.0  218.257143  43.695047  78.0  194.0  220.5  247.25

                  max
race_ethnicity
group A         289.0
group B         290.0
group C         296.0
group D         297.0
group E         300.0
                             count        mean        std    min     25%  \
parental_level_of_education
associate's degree           222.0  208.707207  41.012743   95.0  176.00
bachelor's degree            118.0  215.771186  41.839827  117.0  192.25
high school                  196.0  189.290816  40.531749   55.0  161.75
master's degree               59.0  220.796610  40.803051  134.0  189.50
some college                 226.0  205.429204  41.132921   70.0  180.00
some high school             179.0  195.324022  44.952235   27.0  167.00

                               50%    75%    max
parental_level_of_education
associate's degree           209.0  237.0  300.0
bachelor's degree            213.5  242.0  300.0
high school                  195.0  218.0  287.0
master's degree              220.0  256.5  293.0
some college                 206.0  234.0  297.0
some high school             200.0  229.5  297.0
              count        mean        std   min    25%    50%    75%    max
lunch
free/reduced  355.0  186.597183  43.374971  27.0  158.5  188.0  217.5  293.0
standard      645.0  212.511628  39.559515  78.0  187.0  214.0  239.0  300.0
                         count        mean        std    min     25%    50%  \
test_preparation_course
completed                358.0  218.008380  39.110881  103.0  195.00  220.5
none                     642.0  195.116822  42.560121   27.0  166.25  196.0

                           75%    max
test_preparation_course
completed                246.5  300.0
none                     225.0  300.0